*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 1200px;
  margin: auto;
  font-family: sans-serif;
}
header{
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
header img{
  width: 150px;
}
nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
  border-bottom: 1px solid #ddd;

}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
section:first-of-type{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 0;
}
section:first-of-type div{
  flex: 1;
}
section:first-of-type img{
  width: 100%;
}

section:first-of-type h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
section:first-of-type p {
  font-size: 24px;
  line-height: 1.6;
}

section:nth-of-type(2),
section:nth-of-type(3){
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
}

article h3 {
  font-size: 35px;
  margin-bottom: 15px;
}
article p {
  font-size: 22px;
  line-height: 1.6;
}
section:first-of-type img{
 width: 450px;
 height: 300px;
 object-fit: cover;
 display: block;
 margin: auto;
}